{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard – EMRS Online</title>
    <script type="module" crossorigin src="{% static 'student-dashboard/assets/index-C8IU-4aJ.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'student-dashboard/assets/index-55yBQPwh.css' %}">
  </head>
  <body class="bg-gray-50">
    <div id="root"></div>
  </body>
</html>
