[Unit]
Description=LMS Enterprise Celery Beat Scheduler
After=network.target redis.service

[Service]
Type=simple
User=lmsapp
Group=lmsapp
WorkingDirectory=/u01/app/django/apps
Environment="DJANGO_SETTINGS_MODULE=lms_enterprise.settings.production"
Environment="PYTHONPATH=/u01/app/django/apps"
ExecStart=/u01/app/python-venvs/lms/bin/celery \
    -A lms_enterprise \
    beat \
    --loglevel=info \
    --pidfile=/u01/app/django/run/celery-beat.pid \
    --logfile=/u01/app/django/logs/celery-beat.log \
    --schedule=/u01/app/django/run/celerybeat-schedule
KillMode=mixed
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
